@page "/blog/entry/add"
@model BlogWebSite.Pages.BlogEntry.AddModel
@{
    ViewData["Title"] = "BlogAddPage";
}
<div>
    <div>タイトル</div>
    <input type="text" name="Title" />
</div>
<div>
    <div>本文</div>
    <input type="text" name="BodyText" />
</div>
<div>
    <input type="button" name="SaveButton" value="Save" />
</div>

<script src="~/js/pages/blogentry/add.js" type="module"></script>