@page "/blog/entry/{entryid}/view"
@model BlogWebSite.Pages.BlogEntry.ViewModel
@{
}

<div class="blog-entry-panel">
    <div class="title">@Model.Title</div>
    <div class="body-text">@Html.Raw(Model.BodyText)</div>
</div>
